.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
/* 
.login img {
    width: 25.25rem;
    height: 19.75rem;
} */

.login h1 {
    font-family: 'Square Peg', cursive;
}

.credentials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.credentials input {
    padding: 0 0.5rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--white-100);
}

.buttonLogin {
    width: 5.625rem;
    height: 2.5rem;
    background: var(--blue-300);
    color: var(--white);
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.buttonLogin:hover{
    background: var(--blue-500);
    color: var(--white-100);
}