.registersClients {
    margin: 1rem;
}

.filter {
    display: flex;
    justify-content: center;
}

.filter input {
    width: 50rem;
    height: 2rem;
    background: var(--white-400);
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.5rem;
}

.filter button {
    width: 1.875rem;
    background: var(--white-400);
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter button svg {
    background: none;
}

.registersTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.tableHeader {
    width: 51.875rem;
    background: var(--white-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.tableHeader td {
    background: none;
    margin: 0.5rem;
}
