.cards{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--pink-300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    background: var(--pink-300);
    flex: 1;
}

.content p{
    background: transparent;
}

.deleteCard {
    height: 1.563rem;
    display: flex;
    justify-content: center;
    border: none;
    background: transparent;
}

.deleteCard:hover{
    cursor: pointer;

}

.deleteCard svg {
    background: transparent;
}