.titlePage {
    width: 16rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin: 1rem 0 0 1rem;
    background: var(--pink-300);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.titlePage h2 {
    background: none;
}

.titlePage button {
    background: none;
    border: none;
    cursor: pointer;
}

.titlePage button svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}