.tableClient {
    width: 51.875rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    border-bottom: 1px solid var(--gray-100);
    margin-bottom: 0.5rem;
}

.tableClient td {
    display: block;
    max-width: 5;
    margin: 0.5rem;
}